.windowFrame {
	animation: 0.5s windowOpen cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin: center center;
	transform: none;
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	box-shadow:
		0px 0px 8px 1px #000000c3,
		inset 0px 0px 0px 1px var(--aero-black),
		inset 0px 0px 0px 2px #d9e2eb;
	background: var(--aero-accent);
	border-radius: 6px;
	backdrop-filter: blur(3px);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.windowFrameGradientLeft {
	background: linear-gradient(
		139deg,
		rgba(255, 255, 255, 0.568) 0%,
		rgba(255, 255, 255, 0.192) 25%,
		rgba(0, 0, 0, 0) 50%
	);
	width: 256px;
	height: 256px;
	position: absolute;
	left: 0;
	border-top-left-radius: 6px;
}

.windowFrameGradientRight {
	background: linear-gradient(
		-139deg,
		rgba(255, 255, 255, 0.315) 0%,
		rgba(255, 255, 255, 0.192) 25%,
		rgba(0, 0, 0, 0) 50%
	);
	width: 256px;
	height: 256px;
	position: absolute;
	right: 0;
	border-top-right-radius: 6px;
}

.windowClosing {
	animation: 0.4s windowClose cubic-bezier(0.19, 1, 0.22, 1);
}
.windowFrame.unfocused {
	box-shadow:
		0px 0px 20px 0px #0000006f,
		inset 0px 0px 0px 1px var(--aero-black),
		inset 0px 0px 0px 2px #d9e2eb;
}

.windowFrame.unfocused {
	background-color: transparent;
}

.windowFrame.unfocused .windowButton:not(:hover) {
	background: transparent !important;
}

.contentsContainer {
	width: fit-content;
	height: calc(100% - 20px);
	border: solid thin var(--aero-black);
	outline: solid thin var(--aero-white);
	background-color: white;
	border-radius: 2px;
	overflow: hidden;
}

.contentsContainer > div {
	width: calc(100vw - 36px);
}
